@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Work+Sans:wght@300&display=swap");

.workSans {
  font-family: "Work Sans", sans-serif;
}

.fredoka {
  font-family: "Fredoka", sans-serif;
}

.centrale-landing {
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gradient {
  background: linear-gradient(
    to right,
    rgb(255, 137, 180) 0%,
    rgb(244, 48, 134) 100%
  );
}

.footer {
  background-color: white;
  display: flex;
  align-items: center;
}

.gradient-header {
  background: linear-gradient(
    to left,
    rgb(5, 182, 197) 0%,
    rgb(15, 235, 227) 100%
  );
}

.feed {
  width: 230px;
  display: flex;
  background-color: red;
  align-items: flex-end;
}

.letterSpacing {
  letter-spacing: -0.2px;
}

li {
  list-style: none;
}
